:root{
  --primary-color:#ff7e01;
  --secondary-color:#faa935;
  --heading-color:#0b2727;
  --text-color:#6e7074;
 --font-name:"Montserrat", "sans-serif"; 
 --subtitle-font-name:"Island Moments", "cursive";

}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: var(--font-name);
}
ul{
 list-style: none;
}



section{
  padding: 50px 0px;
 }

 h1,h2,h3,h4,h5,h6{
  color: var(--heading-color);
 }

.section_subtitle{
  background: var(--secondary-color);
  font-family: var(--subtitle-font-name);
  width: max-content;
  padding: 0px 0.5rem;
  border-radius: 50px;
  font-weight: 509;
  font-size: 1.7rem;
  color: var(--heading-color);
}